---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import GmailIcon from '../icons/GmailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CompanyIcon from '../icons/CompanyIcon.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
	title="Portfolio Personal | Emanuel Barboza"
>
	<main class="text-white">
		<SectionContainer class="py-44 pb-24">
			<img 
				class="size-17 mb-4 rounded-full object-cover" 
				src="https://media.licdn.com/dms/image/v2/D4D03AQHAQhRn-Ru_kw/profile-displayphoto-shrink_400_400/B4DZaGnCKbHQAg-/0/1746015102108?e=2147483647&v=beta&t=JD5La1ReCgFSIfqRnXJUPsu1gl2rIW9tFYClFiM-b9Y" 
				alt="Mi foto" 
			/>
			<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hola 👋, soy Emanuel  
				<a 
					href="https://www.linkedin.com/in/emabarboza/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
				
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap pb-4">
				<span>+8 años de experiencia.</span> 
				<span class="text-yellow-200/90">
					Soy un Informático de Argentina 🇦🇷,
				</span> 
				<span class="opacity-80">
					con especialización en 
					Metodologías Ágiles aplicadas en el Desarrollo de Software.
				</span>  
			</h2>
			
			<nav class="flex gap-x-2">
				<SocialPill href="https://www.linkedin.com/in/emabarboza/">
					<LinkedinIcon class="size-6"/>
					Linkedin
				</SocialPill>

				<SocialPill href="https://github.com/emanuel-22">
					<GithubIcon class="size-6"/>
					Github
				</SocialPill>

				<SocialPill href="https://github.com/emanuel-22">
					<GmailIcon class="size-6"/>
					emanuelbarboza5@gmail.com
				</SocialPill>

			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-8 flex gap-x-3 items-center">
				<CompanyIcon class="size-8"/>
				Experiencia Laboral
			</h2>
			<Experience/>
		</SectionContainer>

	</main>
</Layout>
