---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';

import Home from '../components/Home.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
import Experiences from '../components/Experiences.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';

import PersonIcon from '../icons/PersonIcon.astro';
import CompanyIcon from '../icons/CompanyIcon.astro';
import BriefCaseIcon from '../icons/BriefCaseIcon.astro';
import CodeIcon from '../icons/CodeIcon.astro';
import ContractIcon from '../icons/ContractIcon.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio Personal | Emanuel Barboza" >
	<main class="text-white px-4">
		<!-- Esta es la seccion general de frente  -->
		<SectionContainer class="py-44 pb-32">
			<Home/>
		</SectionContainer>

		<!-- About Me  -->
		<SectionContainer id="about-me">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center justify-center text-center">
				<PersonIcon class="size-8" />
				Acerca de mí
			</h2>
			<AboutMe/>
		</SectionContainer>

		<!-- Habilidades  -->
		<SectionContainer id="skills">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center justify-center text-center">
				<CodeIcon class="size-8" />
				Habilidades
			</h2>
			<Skills/>
		</SectionContainer>

		<!-- Experiencia Laboral  -->
		<SectionContainer id="experiences">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center justify-center text-center">
				<CompanyIcon class="size-8" />
				Experiencia Laboral
			</h2>
			<Experiences />
		</SectionContainer>

		<!-- Proyectos  -->
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center justify-center text-center">
				<BriefCaseIcon class="size-8"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

		<!-- Contacto  -->
		<SectionContainer id="contact">
			<h2 class="text-3xl font-semibold mb-8 flex gap-x-3 items-center justify-center text-center">
				<ContractIcon class="size-8"/>
				Contacto
			</h2>
			<Contact/>
		</SectionContainer>

	</main>
</Layout>
