<div class="flex flex-col md:flex-row justify-center items-center gap-10 max-w-9xl mx-auto px-6 py-16 opacity-80 ">
  <a class="w-full md:max-w-5xl transition-transform transform hover:scale-105 hover:shadow-2xl duration-300 ease-in-out flex flex-col 
  items-center bg-white dark:bg-gray-800 rounded-lg overflow-hidden shadow-sm md:flex-row 
  text-slate-800 dark:text-slate-200 border-4 border-transparent dark:border-gray-400">
    
    <img 
      class="object-cover w-full h-96 md:h-auto md:w-64 rounded-t-lg md:rounded-s-lg"
      src="/projects/about_me_photo.jpg" 
      alt=""
    >
    
    <div class="flex flex-col justify-between p-6 text-lg leading-normal w-full ">
      <p class="mb-6 font-normal">
        Soy un profesional proactivo con experiencia en docencia, investigación y desarrollo de software. 
        Me gradué como Licenciado en Análisis de Sistemas en la Universidad Nacional de Salta (UNSa), cuento con una
        Diplomatura en Metodologías y Marcos de Trabajo Ágiles en la Universidad Tecnológica Nacional de Buenos Aires (UTN BA)
        y actualmente estoy finalizando una Maestría en Ingeniería de Software en la Universidad Nacional de La Plata (UNLP). 
      </p>
      <p class="mb-3 font-normal">
        Mi objetivo personal es mantenerme actualizado y seguir aportando valor en la industria.
        Actualmente me encuentro en búsqueda de nuevos desafíos y oportunidades que me permitan crecer profesionalmente.   
        Considero que mi experiencia y conocimiento puede ser útil para algún equipo multidisciplinario.
      </p>
    </div>

  </a>
</div>


