
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] text-white mx-auto">
  <span></span>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#about-me">Sobre mí</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>