<div class="container px-4 md:px-6">
  <div class="flex flex-col items-center text-center space-y-8 mb-12">
    <p class="text-lg text-muted-foreground max-w-3xl text-slate-800 dark:text-slate-200">
      Ofrezco una amplia gama de servicios que permiten crear soluciones digitales a medida, combinando desarrollo web moderno con enfoques ágiles.
    </p>
  </div>

  <div class="animate-fade-right animate-once animate-duration-[9000ms] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-12" style="opacity: 1; transform: none;">

    <!-- Desarrollo de sitios web personalizados -->
    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700 
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-panels-top-left h-10 w-10 text-blue-800 dark:text-blue-400">
            <rect width="18" height="18" x="3" y="3" rx="2"></rect>
            <path d="M3 9h18"></path>
            <path d="M9 21V9"></path>
          </svg>
        </div>
        <div class="font-semibold tracking-tight text-xl">Desarrollo de Aplicaciones a medida</div>
      </div>
      <div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
          Desarrollo de sistemas software adaptados a requerimientos funcionales y no funcionales 
          como la interfaz, el rendimiento,la usabilidad, etc.
        </div>
      </div>
    </div>

    <!-- Interfaces adaptables y centradas en el usuario -->
    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700 
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-smartphone h-10 w-10 text-blue-800 dark:text-blue-400">
            <rect width="14" height="20" x="5" y="2" rx="2" ry="2"></rect>
            <path d="M12 18h.01"></path>
          </svg>
        </div>
        <div class="font-semibold tracking-tight text-xl">Diseño centradas en el usuario</div>
      </div>
      <div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
          Creo experiencias fluidas y atractivas enfocándome en la usabilidad,
          la accesibilidad y la interacción visual usando tecnologías modernas y Desing Thinking.
        </div>
      </div>
    </div>

    <!--Aplicación de Metodologías Ágiles -->
    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700 
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  
          stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-iteration h-10 w-10
           text-blue-800 dark:text-blue-400">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M8.5 16a5.5 5.5 0 1 0 -5.5 -5.5v.5" />
            <path d="M3 16h18" />
            <path d="M18 13l3 3l-3 3" />
          </svg>
        </div>
        <div class="font-semibold tracking-tight text-xl"> Aplicación de Ágilidad en Organizaciones</div>
      </div>
      <div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
         Trabajo en roles como Scrum Master, Agile Coach, Facilitador Ágil y Product Owner junto a Scrum, Kanban, 
         Lean StartUp, XP, etc., adaptando las buenas prácticas a cada proyecto y equipo de trabajo.
        </div>
      </div>
    </div>

    <!--Buenas prácticas de desarrollo de software -->
    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700  
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-code h-10 w-10  text-blue-800 dark:text-blue-400">
            <polyline points="16 18 22 12 16 6"></polyline>
            <polyline points="8 6 2 12 8 18"></polyline>
          </svg>
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
        </div>
        <div class="font-semibold tracking-tight text-xl">Buenas prácticas de desarrollo de software</div>
      </div><div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
          Implemento principios y prácticas sólidas para el desarrollo de softwares 
          como tecnologías a usar, testing automatizado, control de versiones, DevOps, y patrones de diseño de programación 
          evitando la complejidad innecesaria.
        </div>
      </div>
    </div>

    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700 
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  
          fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-apple  h-10 w-10 text-blue-800 dark:text-blue-400">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 11.319c0 3.102 .444 5.319 2.222 7.978c1.351 1.797 3.156 2.247 5.08 .988c.426 -.268 .97 -.268 1.397 0c1.923 1.26 3.728 .809 5.079 -.988c1.778 -2.66 2.222 -4.876 2.222 -7.977c0 -2.661 -1.99 -5.32 -4.444 -5.32c-1.267 0 -2.41 .693 -3.22 1.44a.5 .5 0 0 1 -.672 0c-.809 -.746 -1.953 -1.44 -3.22 -1.44c-2.454 0 -4.444 2.66 -4.444 5.319" /><path d="M7 12c0 -1.47 .454 -2.34 1.5 -3" /><path d="M12 7c0 -1.2 .867 -4 3 -4" /></svg>
        </div>

        <div class="font-semibold tracking-tight text-xl">Formador en Infórmatica y Programación</div>
      </div>
      <div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
          Mi formación académica y experiencia en proyectos de investigación me permite abordar problemas 
          complejos explorando alternativas tecnológicas y 
          justificando decisiones de diseño.
        </div>
      </div>
    </div>

    <div class="bg-card text-card-foreground shadow-sm border-2 rounded-2xl
     border-blue-800 dark:border-blue-900 hover:border-blue-300 dark:hover:border-blue-700 
     transition-all duration-300 hover:shadow-lg">
      <div class="flex flex-col space-y-1.5 p-6 pb-2 text-slate-800 dark:text-slate-200">
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-message-square h-10 w-10 text-blue-800 dark:text-blue-400">
            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
          </svg>
        </div>
        <div class="font-semibold tracking-tight text-xl">Facilitación en comunicación efectiva</div>
      </div>
      <div class="p-6 pt-0">
        <div class="text-muted-foreground text-sm text-slate-800 dark:text-slate-200">
          Puedo ayudarte a capturar y dirigir requerimientos en soluciones técnicas viables, 
          facilitar la toma de decisiones en equipo y alinear desarrolladores con negocio, 
          incluso en contextos multidisciplinarios.
        </div>
      </div>
    </div>
  </div>
</div>