---
import SocialPill from '../components/SocialPill.astro';
import RubyIcon from '../skills/RubyIcon.astro';
import LaravelIcon from '../skills/LaravelIcon.astro';
import PythonIcon from '../skills/PythonIcon.astro';
import JavascriptIcon from '../skills/JavascriptIcon.astro';
import ReactIcon from '../skills/ReactIcon.astro';
import MicrosoftAzureIcon from '../skills/MicrosoftAzureIcon.astro';
import DockerIcon from '../skills/DockerIcon.astro';
import BootstrapIcon from '../skills/BootstrapIcon.astro';
import TailwindIcon from '../skills/TailwindIcon.astro';
import PostgresqlIcon from '../skills/PostgresqlIcon.astro';
import MysqlIcon from '../skills/MysqlIcon.astro';
---

<div class="flex flex-col md:flex-row justify-center items-center gap-10 max-w-5xl mx-auto px-3 py-16 opacity-80 ">
  <nav class="flex gap-4 flex-wrap">
    <SocialPill>
      <RubyIcon class="size-6 md:size-6"/>
      Ruby
    </SocialPill>
    <SocialPill>
      <JavascriptIcon class="size-6 md:size-6"/>
      Javascript
    </SocialPill>
    <SocialPill>
      <LaravelIcon class="size-6 md:size-6"/>
      Laravel
    </SocialPill>
    <SocialPill>
      <PythonIcon class="size-6 md:size-6"/>
      Python
    </SocialPill>
    <SocialPill>
      <ReactIcon class="size-6 md:size-6"/>
      React
    </SocialPill>
    <SocialPill>
      <BootstrapIcon class="size-6 md:size-6"/>
      Bootstrap
    </SocialPill>
    <SocialPill>
      <TailwindIcon class="size-6 md:size-6"/>
      Tailwind CSS
    </SocialPill>
    <SocialPill>
      <MicrosoftAzureIcon class="size-6 md:size-6"/>
      Microsoft Azure
    </SocialPill>
    <SocialPill>
      <DockerIcon class="size-6 md:size-6"/>
      Docker
    </SocialPill>
    <SocialPill>
      <PostgresqlIcon class="size-6 md:size-6"/>
      PostgreSQL
    </SocialPill>
    <SocialPill>
      <MysqlIcon class="size-6 md:size-6"/>
      MySQL
    </SocialPill>
  </nav>
</div>

  
  